.upload-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.upload-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.left-section {
  color: #3a3b3c; /* Softer text color */
  background-color: #f8f9fa; /* Light gray background for contrast */
}

.right-section {
  color: #fff;
  background-color: #007bff; /* Softer blue shade */
}

.money-icon {
  color: #28a745; /* Green color for the icon */
}

.title {
  margin-top: 20px;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.results-container {
  /* Additional styling for results */
}

.upload-instructions {
  text-align: center;
}

.file-upload-container {
  margin-top: 3rem;
}

.btn-action {
  background-color: #28a745; /* Green color for action button */
  border-color: #28a745;
}

.btn-action:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
