.split-screen {
    display: flex;
    height: 100vh; /* Use the full height of the viewport */
  }
  
  .left-pane {
    background-color: white; 
    color: #00008B; 
    padding: 150px;
    flex: 1;
    overflow: auto; 
  }

  .right-pane {
    background-color: #00008B;
    color: white; 
    padding: 150px;
    flex: 1; 
    overflow: auto; 
  }